body{
	font-size: 1em;
	color: white ;
	/*background-color: black;*/
	background-image: url("http://best-wallpaper.net/wallpaper/2560x1440/1306/Airbus-A380-Emirates-Airline-Passenger-Airplane-fields_2560x1440.jpg");
}

h1:hover{
	font-size: 1.6em;
}
h2:hover{
	font-size: 1.4em;
}
h3:hover{
	font-size: 1.2em;
}

ol li:hover{
}
ul li:hover{
}
